.custom-product-hero {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
}

.image-container {
    display: flex;
    width: 100%;
}

.image-wrapper {
    position: relative;
    flex: 1;
    background-color: #007bff;
    color: white;
    padding: 20px;
}

.image-wrapper img {
    width: 100%;
    height: auto;
}

.image-wrapper .feature-text {
    position: absolute;
    bottom: 30%;
    left: 5%;
    color: white;
    padding: 5px;
    font-size: 42px;
    font-weight: bolder;
    text-align: center;

}

.product-details {
    flex: 1;
    padding: 20px;
    background-color: white;
    text-align: center;
}

.product-details .product-image {
    max-width: 400px;
    height: auto;
    display: block;
    margin: 0 auto;
}

.product-details h2 {
    margin: 10px 0;
}

.product-details .price {
    font-size: 1.5em;
    margin: 10px 0;
}

.product-details .button {
    display: inline-block;
    padding: 10px 20px;
    background-color: #007bff;
    color: white;
    text-decoration: none;
    border-radius: 5px;
    margin-top: 10px;
}

.product-details .button:hover {
    background-color: #0056b3;
    color: white;
}
